%% -*- erlang -*-
%% Config file for hex template application

%% plugins needed to run the example application
{deps,
 [{hex, ".*", {git, "https://github.com/tonyrog/hex.git"}},
  {hex_wse, ".*", {git, "https://github.com/tonyrog/hex_wse.git"}},
  {hex_epx, ".*", {git, "https://github.com/tonyrog/hex_epx.git"}},
  {hex_tellstick, ".*", {git, "https://github.com/tonyrog/hex_tellstick.git"}},
  {hex_sms, ".*", {git, "https://github.com/tonyrog/hex_sms.git"}}, 
  {hex_smtp, ".*", {git, "https://github.com/tonyrog/hex_smtp.git"}},
  {hex_gpio, ".*", {git, "https://github.com/tonyrog/hex_gpio.git"}},
  {hex_can, ".*", {git, "https://github.com/tonyrog/hex_can.git"}},
  {hex_piface, ".*", {git, "https://github.com/tonyrog/hex_piface.git"}},
  {hex_script, ".*", {git, "https://github.com/tonyrog/hex_script.git"}},
  {hex_event, ".*", {git, "https://github.com/tonyrog/hex_event.git"}},
  {hex_debug, ".*", {git, "https://github.com/tonyrog/hex_debug.git"}}
 ]}.
